<div>
  <div id="info">
    <h2>{{movie.Title}}</h2>
    
    <img src={{movie.Poster}}>
    
    <p><strong>Actors: </strong><small>{{movie.Actors}}</small></p>

    <p>{{movie.Plot}}</p>
    
    <h3>Additional Details:</h3>

    <p><strong>Awards</strong></p>
    <p><small>{{movie.Awards}}</small></p>

    <p><strong>Country</strong></p>
    <p><small>{{movie.Country}}</small></p>

    <p><strong>Director</strong></p>
    <p><small>{{movie.Director}}</small></p>

    <p><strong>Genre</strong></p>
    <p><small>{{movie.Genre}}</small></p>

    <p><strong>Language</strong></p>
    <p><small>{{movie.Language}}</small></p>

    <p><strong>Metascore</strong></p>
    <p><small>{{movie.Metascore}}</small></p>

    <p><strong>Rated</strong></p>
    <p><small>{{movie.Rated}}</small></p>

    <p><strong>Released</strong></p>
    <p><small>{{movie.Released}}</small></p>

    <p><strong>Runtime</strong></p>
    <p><small>{{movie.Runtime}}</small></p>

    <p><strong>Title</strong></p>
    <p><small>{{movie.Title}}</small></p>

    <p><strong>Writer</strong></p>
    <p><small>{{movie.Writer}}</small></p>

    <p><strong>Year</strong></p>
    <p><small>{{movie.Year}}</small></p>

    <p><strong>IMDb Rating</strong></p>
    <p><small>{{movie.imdbRating}}</small></p>
  </div>
</div>